#id_hbContactCard {
    -fx-padding: 5;
}

#id_lblName {
    -fx-text-fill: #cccccc;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

#id_hbContactCard:hover {
    -fx-cursor: hand;
    -fx-background-color: #2d4252;

}

#id_hbUserInfo {

}

#id_txtTime {

}

#id_lblLastMessage {
    -fx-text-fill: #8c8c8c;
}

#id_lblMessageCount {

}
