#id_hbContactCard {
    -fx-padding: 5;
}

#id_hbContactCard:hover {
    -fx-cursor: hand;
    -fx-background-color: #c6d8ec;

}


#id_lblName {
    -fx-text-fill: #1a1a1a;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

#id_hbUserInfo {

}

#id_txtTime {

}

#id_lblLastMessage {
    -fx-text-fill: #8c8c8c;
}

#id_lblMessageCount {

}

