#id_hbContactCard {
    -fx-padding: 5;
}

#id_hbContactCard:hover {
    -fx-cursor: hand;
    -fx-background-color: #80a8e5;

}


#id_lblName {
    -fx-text-fill: #1a1a1a;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

#id_hbUserInfo {

}

#id_txtTime {

}

#id_lblLastMessage {
    -fx-text-fill: #9fbedf;
}

#id_lblMessageCount {

}

