.root {
    -fx-main-color: #121a21;
    -fx-text-color: #f2f2f2;
    /*-fx-main-color-hover: #1b2731;*/
    -fx-main-color-hover: #243442;
    -fx-main-font-family: "Segoe UI Bold";
    -fx-main-font-size: 14px;
    -fx-main-font-weight: normal;

}