.root {
    -fx-text-color: #f2f2f2;
    -fx-main-color: #090d10;
    -fx-main-color-hover: #243442;
    -fx-title-color: #1d2933;
    -fx-title-color-hover: #212e3b;
}

#id_apDashboard {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

#id_pnShadow {
    -fx-background-color: white;
    -fx-background-radius: 13;
    -fx-border-radius: 13;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 12, 0, 0, 0);
}


#id_apNoThinks{
    -fx-background-color: -fx-main-color;
    -fx-background-radius: 0 0 10 0;
    -fx-border-radius: 0 0 10 0;
}

#id_lblNoThinks{
    -fx-background-color: #121A21;
    -fx-text-fill: #b3b3b3;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: BOLD;
    -fx-font-size: 12px;
}

#id_spLock {
    -fx-background-color: #121A21;
    -fx-background-radius: 0 0 10 10;
    -fx-border-radius: 0 0 10 10;
}


#id_apTitlePane {
    -fx-background-color: -fx-title-color;
    -fx-background-radius: 10 10 0 0;
}

#id_apTitlePane:hover {
    -fx-background-color: -fx-title-color-hover;
}

#id_lblAppName {
    -fx-text-fill: -fx-text-color;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: BOLD;
}

#id_apShadow {
    -fx-background-color: -fx-main-color;
    -fx-background-radius: 0 0 10 10;
    -fx-border-radius: 0 0 10 10;
}

#id_vbDashboardItems {
    -fx-background-color: -fx-main-color;
    -fx-background-radius: 0 0 0 10;
    -fx-border-radius: 0 0 0 10;
}


#id_vbDashboardItems > JFXButton {
    -fx-background-color: -fx-main-color;
}

#id_vbDashboardItems > JFXButton:hover {
    -fx-background-color: -fx-main-color-hover;
}

#id_vbDashboardItems > AnchorPane > JFXButton {
    -fx-background-color: -fx-main-color;
    -fx-text-fill: #ADBED2;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: BOLD;
    -fx-font-size: 11;
}

#id_vbDashboardItems > AnchorPane > JFXButton:hover {
    -fx-background-color: -fx-main-color-hover;
    -fx-text-fill: #00ACE6;

}







#id_spChat {
    -fx-background-color: #121a21;
    -fx-cursor: DEFAULT;
    -fx-border-insets: 0;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0 0 10 0;
}


#id_spChat:horizontal > .split-pane-divider {
    -fx-background-color: #121a21;
    -fx-padding: 2;
}

#id_apSettings {
    -fx-background-color: #090d10;
}


#id_lblPersonalChat, #id_lblMenu, #id_lblAllChats, #id_lblUnreadChats {
    -fx-background-color: #ADBED2;
    -fx-text-fill: #121a21;
    -fx-background-radius: 13;
    -fx-font-size: 10;
    -fx-wrap-text: BOLD;
}


