
#id_ivEye {
    -fx-cursor: HAND;
}

#id_pfPassword, #id_tfPassword {
    -fx-background-color: #F0F3FA;
    -fx-text-fill: #2a5389;
    -fx-font-size: 15px;
    -fx-font-family: "Segoe UI";
}

#id_apLogin {
    -fx-background-color: #F0F3FA;
    -fx-background-radius: 10 10 10 10;
    -fx-boder-radius: 10 10 10 10;
}

#id_btnEnter {
    -fx-cursor: HAND;
    -fx-background-color: #366bb0;
    -fx-text-fill: #E6E6E6;
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: BOLD;
    -fx-background-radius: 5 5 5 5;
    -fx-boder-radius: 5 5 5 5;
}

#id_btnEnter:hover {
    -fx-background-color: #4f84c9;
}

#id_lnLine {
    -fx-stroke: #2a5389;
    -fx-stroke-width: 2;
}

#id_lblEnteredPassword {
    -fx-text-fill: #2a5389;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
}


#id_lblText {
    -fx-background-color: #F0F3FA;
    -fx-text-fill: #366BB0;
    -fx-font-size: 30px;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: BOLD;
}

#id_lblTextDesc {
    -fx-background-color: #F0F3FA;
    -fx-text-fill: #ff5c33;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI";
}

#id_txtRegistration {
    -fx-fill: #2a5389;

    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-cursor: HAND;
    -fx-font-style: Italic;
}

#id_txtRegistration:hover {
    -fx-fill: #4f84c9;
}


