.root {
    -fx-main-color: WHITE;
    -fx-text-color: DARK;
    -fx-main-color-hover: LIME;


}
.label{
    -fx-font-family: "Segoe UI";
    -fx-font-size:  14px;
    -fx-font-weight:   bold;
}
#id_lblUserName{
    -fx-font-family: "Segoe UI";
    -fx-font-size:  18px;
    -fx-font-weight:   bold;
}

