
.root {
    -fx-main-color: #121a21;
    -fx-text-color: #f2f2f2;
}

#id_tpAccounts {
    -fx-text-fill: -fx-text-color;
    -fx-font-family: "Segoe UI";
    -fx-font-size:  14px;
    -fx-font-weight:   bold;
}

#id_tpAccounts > .title {
    -fx-background-color: -fx-main-color;
    -fx-text-fill: -fx-text-color;
    -fx-font-size: 14px;
    -fx-alignment: center-left;
}



#id_tpAccounts > .title > .arrow-button > .arrow {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0.5;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.6;
    -fx-background-color: -fx-text-color;
    -fx-effect: dropshadow(gaussian, transparent, 0.2, 0.2, 0, 0);
}

#id_tpAccounts > .content {
    -fx-background-color: -fx-main-color;
    -fx-border-color:  -fx-main-color;
}

#id_vbSettings .label {
    -fx-text-fill: -fx-text-color;
    -fx-graphic-text-gap: 20px;

}