
#id_tfSearch {
    -fx-background-color: #d9e0f2;
    -fx-text-fill: -fx-text-color;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

#id_apSearch {
    -fx-background-color: #d9e0f2;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: #c6d1ec;
}

#id_apContacts {
    -fx-background-color: #F0F3FA;
}


/****************/

#id_spContacts {
    -fx-background-color: #F0F3FA;
    -fx-border-color: #F0F3FA;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-background-color: transparent;

}



#id_spContacts > .thumb {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

#id_spContacts > .track {
    -fx-effect: none;
    -fx-background-color: transparent;
}

#id_spContacts > .scroll-bar {
    -fx-background-color: #9db5c8;
    -fx-pref-width: 9;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

/*#id_spContacts > .scroll-bar:vertical > .thumb {*/
/*    -fx-background-color: #7c9db6;*/
/*    -fx-background-radius: 15;*/
/*    -fx-cursor: HAND;*/
/*    -fx-pref-width: 9;*/
/*}*/

/*#id_spContacts > .scroll-bar:vertical > .thumb:hover {*/
/*    -fx-background-color: #94acd1;*/
/*    -fx-pref-width: 9;*/
/*    -fx-background-radius: 10;*/
/*}*/


/*#id_spContacts > .scroll-bar:vertical > .track {*/
/*    -fx-background-color: #9db5c8;*/
/*    -fx-background-radius: 10;*/
/*    -fx-pref-width: 9;*/
/*}*/

/*#id_spContacts > .scroll-bar:vertical > .decrement-button,*/
/*#id_spContacts > .scroll-bar:vertical > .increment-button {*/
/*    -fx-background-color: #9db5c8;*/
/*    -fx-cursor: HAND;*/
/*    -fx-pref-width: 9;*/
/*    -fx-background-radius: 10;*/
/*}*/
